<section>
    <div [class.redBack]="useRedBack">About: {{msg | uppercase}}</div>
    <div *ngIf="useRedBack">Visible with useRedBack</div>
    <div [ngSwitch]="useRedBack">
        <p *ngSwitchCase="true">Switch: useRedBack == true</p>
        <p *ngSwitchCase="false">Switch: useRedBack == false</p>
        <p *ngSwitchDefault>Switch: Default</p>
    </div>
    <div><button (click)="toggleStyle(!useRedBack)" mat-button color="accent">Toggle style</button></div>
    <div><button (click)="goBack()">Back to intro</button></div>
    <hr />
    <div>About1: {{msg}}</div>
    <div [textContent]="'About2: ' + [msg]"></div>
    <div (click)="event1()">Event 1</div>
    <div><button on-click="event2()" mat-raised-button color="primary">Event 2</button></div>
    <input [(ngModel)]="msg" placeholder="Message" minlength="4" required />&nbsp;
    <input bindon-ngModel="msg" placeholder="Message" minlength="4" required #spy />
    <div>{{spy.className}}</div>
    <hr />
    <form>
        <mat-form-field>
            <input #refVar1 name="input1" placeholder="Input 1" matInput />
        </mat-form-field>
        {{refVar1.value}}
        <br />
        <mat-form-field>
            <input ref-refVar2 name="input2" placeholder="Input 2" matInput />
        </mat-form-field>
        {{refVar2.value}}
    </form>
    <hr />
    <div>{{msg}}</div>
    <div>{{msg | lowercase}}</div>
    <div>{{msg | lowercase | uppercase}}</div>
    <div>{{.99 | percent}}</div>
    <div>{{123.45 | currency:'EUR'}}</div>
    <div>{{'2018-05-25T08:59:24.079Z' | date:'full'}}</div>
    <div>{{author | json}}</div>
    <div>{{'2018-05-25T08:59:24.079Z' | localedatetime}}</div>
    <hr />
    <div alertOnClick="This is the param">This is the content</div>
    <div><nest-me [myNumber]="1234" (valueReady)="showValue($event)"></nest-me></div>
    <hr />
    <input value="{{author.name}}" placeholder="Interpolation" />&nbsp;
    <input [ngModel]="author.name" placeholder="One-way biding" />&nbsp;
    <input [(ngModel)]="author.name" placeholder="Two-way biding" minlength="4" />&nbsp;
    <input [(ngModel)]="author.name" placeholder="Two-way biding" minlength="4" />
    <hr />
    <input [(ngModel)]="repo" placeholder="Repository" />
    <hr />
    <div *ngFor="let author of authors" (click)="showDetails(author)">
        <div>{{author.name}} ({{author.age}})</div>
    </div>
    <hr />
    <author-search></author-search>
    <hr />
    <div>
        <button (click)="addAuthor()" mat-raised-button>Add new author</button>&nbsp;
        <button (click)="clearAuthors()" mat-raised-button>Clear authors</button>&nbsp;
        <span>Last updated: {{lastUpdate | async | localedatetime}}</span>
    </div>
    <div *ngFor="let author of reduxAuthors | async">
        <div>{{author.name}} ({{author.age}})</div>
    </div>
    <hr />
</section>