<section>
    <div [class.redBack]="useRedBack">About: {{msg | uppercase}}</div>
    <div *ngIf="useRedBack">Visible with useRedBack</div>
    <div [ngSwitch]="useRedBack">
        <p *ngSwitchCase="true">Switch: useRedBack == true</p>
        <p *ngSwitchCase="false">Switch: useRedBack == false</p>
        <p *ngSwitchDefault>Switch: Default</p>
    </div>
    <div><button (click)="toggleStyle(!useRedBack)" mat-button color="accent">Toggle style</button></div>
    <div><button (click)="goBack()">Back to intro</button></div>
    <hr />
    <div>About1: {{msg}}</div>
    <div [textContent]="'About2: ' + [msg]"></div>
    <div (click)="event1()">Event 1</div>
    <div><button on-click="event2()" mat-raised-button color="primary">Event 2</button></div>
    <input [(ngModel)]="msg" placeholder="Message" minlength="4" required />
    <input bindon-ngModel="msg" placeholder="Message" minlength="4" required #spy />
    <div>{{spy.className}}</div>
    <hr />
    <form>
        <mat-form-field>
            <input #refVar1 placeholder="Input 1" matInput />
        </mat-form-field>
        {{refVar1.value}}
        <br />
        <mat-form-field>
            <input ref-refVar2 placeholder="Input 2" matInput />
        </mat-form-field>
        {{refVar2.value}}
    </form>
    <hr />
    <div>About: {{msg | lowercase}}</div>
    <div>About: {{msg | lowercase | uppercase}}</div>
    <div>About: {{.99 | percent}}</div>
    <div>About: {{123.45 | currency:'EUR'}}</div>
    <div>About: {{author | json}}</div>
    <div>About: {{msg | myUppercase}}</div>
    <hr />
    <div alertOnClick="This is the param">This is the content</div>
    <div><nest-me [myName]="'Bill'" (sendHello)="getHello($event)"></nest-me></div>
    <hr />
    <input value="{{author.name}}" placeholder="Interpolation" />
    <input [ngModel]="author.name" placeholder="One-way biding" />
    <input [(ngModel)]="author.name" placeholder="Two-way biding" minlength="4" />
    <input [(ngModel)]="author.name" placeholder="Two-way biding" minlength="4" />
    <hr />
    <input [(ngModel)]="repo" placeholder="Repository" />
    <hr />
    <div *ngFor="let author of authors" (click)="showDetails(author)">
        <div>{{author.name}} ({{author.age}})</div>
    </div>
    <hr />
    <author-search></author-search>
</section>